extends layout

block content
  h1= device_label

  h2 Readings

  table.calendar
    tr
      th Mon
      th Tue
      th Wed
      th Thu
      th Fri
      th Sat
      th Sun

    each week in calendar
      tr
        each dow in [0, 1, 2, 3, 4, 5, 6]
          if week[1][dow]
            td(class=dow > 4 ? "weekend" : "")
              div.label= week[1][dow].label
              if week[1][dow].csv
                div.csv
                  a(href=week[1][dow].csv) CSV
              if week[1][dow].xlsx
                div.xlsx
                  a(href=week[1][dow].xlsx) Excel
          else
            td(class=dow > 4 ? "weekend empty" : "empty")

  h2 Sensors

  ul
    each sensor in sensors
      li
        a(href=sensor[0]) #{sensor[1]}
