extends layout

block content
  h1= device_label

  h2 Readings

  each group, set in readings
    h3= set
    each day in group
      a(href=day[0]) #{day[1].substring(8, 10)}
      span= " "

  h2 Sensors

  ul
    each sensor in sensors
      li
        a(href=sensor[0]) #{sensor[1]}
