extends layout

block head
  script(type="text/ecmascript", src="/graphs/javascripts/" + device_id + ".js")

block content
  script!= "var today = new Date('" + date + "');"
  script!= "today = +today + (today.getTimezoneOffset() * 60 * 1000);"

  h1= device_label

  div.nav_prev
    span.nav_arrow &#9664; 
    a(href=dateformat(prev_day, "yyyy-mm-dd"))= dateformat(prev_day, "fullDate")

  div.nav_next
    a(href=dateformat(next_day, "yyyy-mm-dd"))= dateformat(next_day, "fullDate")
    span.nav_arrow  &#9654;

  div.nav_center= dateformat(date, "fullDate")

  if image_uri
    img(width=1000 height=600 src=image_uri)

  script!= device_configuration
  script!= data

  div.graph_container

    div.graphs
      div#graph
      div#graph2

    div.rhs

      h3 Legend
      div.legend
        div#keys

      h3 Range
      div#controls

      h3 Download
      p
        div
          a(href=`../data.json?day=${dateformat(date, 'yyyymmdd')}&raw=true`) Raw JSON
        div
          a(href=`../data.csv?day=${dateformat(date, 'yyyymmdd')}&raw=true`) Raw CSV
        div
          a(href=`../data.tsv?day=${dateformat(date, 'yyyymmdd')}&raw=true`) Raw TSV
        div
          a(href=`../data.csv?day=${dateformat(date, 'yyyymmdd')}`) Processed CSV
        div
          a(href=`../data.tsv?day=${dateformat(date, 'yyyymmdd')}`) Processed TSV
