extends layout

block content
  h1= device_label

  div.nav_prev
    span.nav_arrow &#9664; 
    a(href=dateformat(prev_day, "yyyy-mm-dd"))= dateformat(prev_day, "fullDate")

  div.nav_next
    a(href=dateformat(next_day, "yyyy-mm-dd"))= dateformat(next_day, "fullDate")
    span.nav_arrow  &#9654;

  div.nav_center= dateformat(date, "fullDate")

  if image_uri
    img(width=1000 height=600 src=image_uri)

  h2 Downloads

  ul
    li
      span Raw data (as 
      a(href="../data.json?day=#{dateformat(date, 'yyyymmdd')}&raw=true") JSON
      span , 
      a(href="../data.csv?day=#{dateformat(date, 'yyyymmdd')}&raw=true") CSV
      span  or 
      a(href="../data.tsv?day=#{dateformat(date, 'yyyymmdd')}&raw=true") TSV
      span .)
    li
      span Processed data (as 
      a(href="../data.csv?day=#{dateformat(date, 'yyyymmdd')}") CSV
      span  or 
      a(href="../data.tsv?day=#{dateformat(date, 'yyyymmdd')}") TSV
      span .)

    if image_uri
      if device_id == 'rPI_46_1047_1' || device_id == 'rPI_46_1047_2'
        li
          span The above image (as 
          a(href="../images/#{dateformat(date, 'yyyy-mm-dd')}.png") PNG
          span .)

        li
          span Thumbnail of the above image (as 
          a(href="../thumbnails/#{dateformat(date, 'yyyy-mm-dd')}.png") PNG
          span .)

        li
          span The 
          a(href="../gnuplot/image.gnu") Gnuplot file
          span  used to generate the above image.
