extends layout

block content
  h1= device_label

  h2 Readings

  table.calendar_month

    tr
      th Mon
      th Tue
      th Wed
      th Thu
      th Fri
      th Sat
      th Sun

    each week in calendar
      if week[2]
        tr
          td(class="break")
          td(class="break")
          td(class="break")
          td(class="break")
          td(class="break")
          td(class="weekend_break")
          td(class="weekend_break")

      tr
        each dow in [0, 1, 2, 3, 4, 5, 6]
          if week[1][dow]
            td(class=dow > 4 ? "weekend" : "")
              div.label= week[1][dow].label
              if week[1][dow].thumbnail
                img(width=125 height=75 src=week[1][dow].thumbnail)
              else
                div.no_data
              div.download
                if week[1][dow].csv
                  span.csv
                    a(href=week[1][dow].csv) CSV
                span= ' '
                if week[1][dow].xlsx
                  span.xlsx
                    a(href=week[1][dow].xlsx) Excel
          else
            td(class=dow > 4 ? "weekend empty" : "empty")

// h2 Sensors
//
// ul
//   each sensor in sensors
//     li
//       a(href=sensor[0]) #{sensor[1]}
