extends layout

// block head
//   script(type="text/ecmascript", src="/javascripts/" + device_id + "_month.js")

block content

  h1= view_label

  div.nav_prev
    span.nav_arrow &#9664; 
    a(href=dateformat(prev_month, "yyyy-mm"))= dateformat(prev_month, "mmmm yyyy")

  div.nav_next
    a(href=dateformat(next_month, "yyyy-mm"))= dateformat(next_month, "mmmm yyyy")
    span.nav_arrow  &#9654;

  div.nav_center= dateformat(date, "mmmm yyyy")

  script!= device_configurations
  script!= view_configuration
  script!= "month_data = " + day_data

  table.calendar_month

    tr
      th Mon
      th Tue
      th Wed
      th Thu
      th Fri
      th Sat
      th Sun

    each row in calendar
      tr
        each day in row
          if day == undefined
            td.invalid
          else
            td(id=dateformat(day, 'yyyy-mm-dd'))
              div.label= dateformat(day, "dd")
              a(href=dateformat(day, 'yyyy-mm-dd'))
                div.day_data(id="day-" + dateformat(day, 'yyyy-mm-dd'))
